

* {
  box-sizing: border-box;
}

.flexbox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  }
  .flex-item {
    height: auto;
    flex: 0 0 content;
    margin: 20px; 
 
    .logo {
      width: auto;
      vertical-align: top;
      height:80px; 
      cursor: pointer; 
    }
  }
  
  .flex-spacer {
    height: 100px;
    flex: 1 1 auto;
  }

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #BBBBBB;
  transition: 0.2s color; 
    
    &:hover {
        color: #4A4A4A; 
        
        
    }
}

.pad {
    
    padding: 0px 16px; 
}

.associates {
    background-color: #fafafa; 
    height: 300px; 
}

.bottom {
    height: 80px; 
    background-color: #b3b3b3;
}

